.container{
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  flex-grow: 1;
  color: white;
  max-width: 1500px;
}

.speakerCard{
  background: rgba(255, 181, 124, 0.281);
  box-shadow: var(--lightShadow);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 1rem;
}

.speakerImage{
  border-radius: 3px;
}