.container{
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  flex-grow: 1;
  color: white;
  max-width: 1500px;
}

.speakerImage{
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card {
  padding-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(35,35,35,0.3);
  background: rgba(255, 148, 148, 0);
  box-shadow: var(--shadow);
  backdrop-filter: blur(10px);
 }
 
 .cardInfo {
  width: 100%;
  text-align: center;
 }
 
 .socialMedia {
  padding: 0 1rem;
  font-size: 1.3rem;
  align-items: center;
  display: flex;
  justify-content: space-around;
 }
 .socialMedia a:hover{
  cursor: pointer;
  transform: scale(1.05);
}

 .title {
  font-size: 1.5em;
  font-weight: 500;
 }
 
 .subtitle {
  letter-spacing: 1px;
  font-size: 0.9em;
 }