.tiket {
  width: 18rem;
  filter: drop-shadow(var(--lightShadow));
}

.tiket::selection {
  background: transparent;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgb(0, 0, 0);
  width: 12rem;
  height: 6.3rem;
  z-index: 1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ff3bef, #03a9f4);
  background-size: 300%;
  box-shadow: inset 8px 8px 15px #fdc002, inset -8px -8px 15px #fdc002;
}

.button p {
  font-size: 2rem;
  font-weight: bold;
}

.button p::selection {
  color: white;
  background-color: var(--purple);
}

.button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

.button:before {
  content: "";
  position: absolute;
  top: -0px;
  left: -0px;
  right: -0px;
  bottom: -0px;
  z-index: -1;
  background: linear-gradient(90deg, #fdc002, #fdca00, #fdc002);
  transition: 1s;
}

.button:hover::before {
  filter: blur(50px);
}

.button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ff3bce, #03a9f4);
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@media (min-width: 1324px) {
  .tiket {
    width: 22rem;
  }

  .button {
    width: 14.5rem;
    height: 7.3rem;
  }

  .button p {
    font-size: 2.5rem;
  }
}
