body {
  font-size: calc(0.8rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: white;
}

.talkLine{
  display: flex;
  gap: 0.5rem;
}

.date{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}