.background {
  background-color: white;
}

.container{
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  flex-grow: 1;
  max-width: 1500px;
}

.speakerCard{
  background: rgba(255, 181, 124, 0.281);
  box-shadow: var(--lightShadow);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 1rem;
}

.speakerImage{
  border-radius: 3px;
}

.divider1 {
  fill: #FFFFFF;
}

.divider1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}
.divider2 {
  fill: #FFFFFF;
}

.divider2 svg {
  position: relative;
  display: block;
  width: calc(141% + 1.3px);
  height: 93px;
  transform: rotate(180deg);
}