.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: rgb(0, 0, 0);
  width: 14em;
  height: 6em;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 3px;
  z-index: 1;
  box-shadow: var(--shadow);

}

.boton p{
  font-size: 2em;
  font-weight: bold;
}

.boton:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.boton:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#ffbb00,#ffee00,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 5px;
  transition: 1s;
}

.boton:hover::before {
  filter: blur(20px);
}

.boton:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}