.main {
  position: sticky;
  top: 0;
  margin-bottom: -76px;
  z-index: 2;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: linear-gradient(110deg,#f41f51a9, #be5446b0);
  box-shadow: var(--lightShadow);
  backdrop-filter: blur(10px);
}

.icon img{
  width: 5.5rem;
  vertical-align: middle;
}

.nav {
  width: 100vw;
  margin: 0.5rem;
  display: flex;
  color: white;
  transition: var(--transition);
  justify-content: space-between;
}

.left, .links{
  gap: 2rem;
  align-items: center;
}

.right{
  display: flex;
  gap: 1rem;

}

.links{
  display: none;
}

.nav a:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.emphasis{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.emphasis h2{
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
  padding: 0.5rem;
  background: linear-gradient(90deg,#ffbb00,#ffee00);
  border-radius: 3px;
  box-shadow: var(--shadow);
}

.hamburger{
  align-self: center;
  display: flex;
  font-size: 2rem;
  margin-right: 0.2rem;
}


.base_compact {
  position: fixed;
  top: 0;
  left: 0;
}

.compact_background {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.295);
  box-shadow: var(--lightShadow);
  backdrop-filter: blur(10px);
  z-index: 20;
  gap: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

@media (min-width: 200px) and (max-width: 823px) {
  .emphasis {
    gap: 0.5rem;
  }
  .right{
    gap: 0.5rem;
  }
  .fullScreen{
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 100;
  }
  .icon img{
    width: 4.7rem;
  }
}
@media (min-width: 824px) and (max-width: 943px) {
  .emphasis h2{
    font-size: 1rem;
    font-weight: 700;
  }
  .hamburger{
    display: none;
  }
  .nav div{
    display: flex;
    font-size: 0.8rem;
  }
  .links h2{
    font-weight: 500;
  }
  .emphasis {
    gap: 0.5rem;
  }
  .right{
    gap: 0.5rem;
  }
}

@media (min-width: 944px) and (max-width: 1039px) {
  .hamburger{
    display: none;
  }
  .nav div{
    display: flex;
    font-size: 0.8rem;
  }
  .links h2{
    font-weight: 500;
  }
  .emphasis h2{
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .emphasis {
    gap: 2rem;
  }
  .icon img{
    width: 7.1rem;
  }
}

@media (min-width: 1040px) {
  .hamburger{
    display: none;
  }
  .nav div{
    display: flex;
  }
  
  .emphasis h2{
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .emphasis {
    gap: 2rem;
  }
  .icon img{
    width: 7.1rem;
  }
}