.footer, .row_wrapper, .SM, .Contact_us, .icons, .CopyLeft {
  display: flex;
  flex: 1;
/* 
  align-items: center;
  align-content: center; */
  justify-content: center;
  justify-items: center;
}

.footer {
  font-size: calc((1.5*(0.1rem + 1vw) - 0.5rem));
  flex-direction: column;
  color: white;
  text-align: center;
}

.row_wrapper {
  flex-direction: row;
  align-content: space-between;
  /* gap: 5rem; */
}

.SM, .Contact_us {
  flex-direction: column;
  align-items: center;
}

.SM {
  --width: 20em;
}

.logo {
  width: var(--width);
  padding: 1em;
}

.icons {
  width: var(--width);
  flex-direction: row;
}

.icons a {
  font-size: 2em;
  margin: .2em;

  transition: transform .25s ease-out;
}


.Contact_us h1 {
  font-size: 3em;
}

.contact {
  font-size: 1.5em;
  font-weight: bold;
  transition: transform .25s ease-out;
}

.icons a:hover,
.contact:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.CopyLeft {
  flex-direction: row;
  padding: 2em;
  font-size: 2em;
  font-weight: bold;
}