.footer, .row_wrapper, .SM, .Contact_us, .icons, .CopyLeft {
  display: flex;
  flex: 1;

  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.footer {
  flex-direction: column;
  background-image: url('/images/salmorejotech-fondo.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}

.row_wrapper {
  flex-direction: row;
}

.SM, .Contact_us {
  flex-direction: column;
  width: 50vw;
  padding: 3em 0 1em 0;
}

.SM {
  --width: 20em;
}

.logo {
  width: var(--width);
  padding: 1em;
}

.icons {
  width: var(--width);
  flex-direction: row;
}

.icons a {
  font-size: 2em;
  margin: .2em;

  transition: transform .25s ease-out;
}


.Contact_us h1 {
  font-size: 3em;
}

.contact {
  font-size: 1.5em;
  font-weight: bold;
  transition: transform .25s ease-out;
}

.icons a:hover,
.contact:hover {
  cursor: pointer;
  transform: scale(1.2);
}


.CopyLeft {
  flex-direction: row;
  width: 100vw;
  padding-bottom: 2em;
  font-size: 3em;
  font-weight: bold;
}

@media (max-width: 1400px) {
  .CopyLeft {
    font-size: 2em;
  }
}

@media (max-width: 1000px) {
  .row_wrapper {
    flex-direction: column;
  }
  .SM,
  .Contact_us {
    width: 100vw;
  }
}

@media (max-width: 800px) {
  .footer {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .footer {
    font-size: 10px;
  }
}