.footer, .row_wrapper, .SM, .Contact_us, .icons, .CopyLeft {
  display: flex;
  flex: 1;
  justify-content: center;
  justify-items: center;
}

.footer {
  flex-direction: column;
  color: white;
  text-align: center;
}

.row_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
  flex-grow: 1;
  justify-content: space-between;
}

.SM, .Contact_us {
  flex-direction: column;
  align-items: center;
}

.SM {
  --width: 20em;
}

.logo {
  width: var(--width);
  max-width: 400px;
  padding: 1em;
}

.icons a {
  font-size: 1.8em;
  margin: .2em;
  transition: transform .25s ease-out;
}


.Contact_us h1 {
  font-size: 3em;
}

.contact {
  font-size: 1.5em;
  font-weight: bold;
  transition: transform .25s ease-out;
}

.icons a:hover,
.contact:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.CopyLeft {
  flex-direction: row;
  padding: 2em;
  font-size: 2em;
  font-weight: bold;
}