.main{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1000px;
  overflow: hidden;
  position: relative;
}

.slideshow{
  display: flex;
  flex-wrap: nowrap;
}

.slide{
  min-width: 100%;
  overflow: hidden;
  transition: 0.3s ease all;
  max-height: 500px;
  position: relative;
}

.slide img{
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.controllers{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}

.controllers div{
  width: 30%;
}

.areaNext, .areaPrev{
  pointer-events: all;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.3s ease all;
  filter: drop-shadow(0px 0px 10px #ffffff);
}

.boton{
  display: none;
  width: 15%;
  height: 100%;
}
.areaNext:hover>.boton , .areaPrev:hover>.boton{
  display: inline;
}

.areaPrev:hover{
  background: linear-gradient(90deg, #fd8931da, #ffffff00);
}

.areaNext:hover{
  background: linear-gradient(-90deg,#fd8931da, #ffffff00);
}