.row_wrapper {
  text-align: center;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.SM,
.Contact_us {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.logo {
  width: 80vw;
  max-width: 300px;
}

.logo::selection {
  background: transparent;
}


.icons{
  display: flex;
  margin-top: 0.5rem;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  font-size: 1.8rem;
  transition: var(--transition);
}


.Contact_us h1 {
  font-size: clamp(0.5rem, calc(2rem + 0.9vw), 2.2rem);
  margin: 1rem;
}

.contact {
  font-size: clamp(0.5rem, calc(1rem + 0.9vw), 1.8rem);
  transition: var(--transition);
}

.icons a:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.contact:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.CopyLeft {
  color: white;
  text-align: center;
  margin: 2rem;
  font-size: 1.4rem;
}

.Contact_us h1::selection,
.contact::selection,
.CopyLeft p::selection {
  background: var(--purple);
  color: white;
}
