.footer, .row_wrapper, .SM, .Contact_us, .icons, .CopyLeft {
  display: flex;
  flex: 1;
  justify-content: center;
  justify-items: center;
}

.footer {
  margin-top: 2rem;
  flex-direction: column;
  color: white;
  text-align: center;
}

.row_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.SM, .Contact_us {
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 80vw;
  max-width: 400px;
}

.icons a {
  font-size: 1.8rem;
  margin: .4rem;
  transition: var(--transition);
}


.Contact_us h1 {
  font-size: clamp(0.5rem, calc(2rem + 0.9vw), 1.88rem);
  margin: 1rem;
}

.contact {
  font-size: clamp(0.5rem, calc(1rem + 0.9vw), 1.88rem);
  transition: var(--transition);
}

.icons a:hover,
.contact:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.CopyLeft {
  flex-direction: row;
  margin: 2rem;
  font-size: 1.4rem;
}