body {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.breakLine{
  display: flex;
  gap: 1rem;
}

.container{
  display: flex;
  flex: 1;
  flex-flow: row;
  padding: 1rem;
  background: rgba(255, 148, 148, 0.192);
  box-shadow: var(--lightShadow);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  gap: 2rem;
}

.title{
  width: 90%;
  text-align: center;
  font-size: calc(2*(0.3rem + 1vw));
}

.date{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}