.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  padding-left: 1.5rem;
  background: rgba(255, 148, 148, 0.192);
  box-shadow: var(--lightShadow);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
.title{
  width: 90%;
  text-align: center;
  font-size: calc(2*(0.3rem + 1vw));
}

.date{
    width: 10%;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    font-size: calc(1.5*(0.3rem + 1vw));
}