html {
  --orange: #FD8B31;
  --purple: linear-gradient(110deg,#F41F4F, #BE5346);
  --blue: #7FABD7;
  --red: #F41F4F
}

main {
  z-index: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.anchoMaximo{
  max-width: 1500px;
  margin: 0 auto;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(-50deg, var(--orange), var(--red));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}