html {
  --orange: #FD8B31;
  --purple: linear-gradient(110deg,#F41F4F, #BE5346);
  --blue: #7FABD7;
  --red: #F41F4F
  
}

main {
  z-index: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.anchoMaximo{
  max-width: 1500px;
  margin: 0 auto;

}

.moleculas {
  transform-style: preserve-3d;
  position: absolute;
  top: -100vh;
  width: 100vh;
  height: 100vh;
  z-index: -1;
}

.parallax::after {
  content: "";
  position: absolute;
  transform: translateZ(-2px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg1 {
  background-image: url('/images/fondo-salmorejotech-svg.svg');
  background-size: cover;
  left: 1vw;
  transform: translateZ(-2px) translatey(150vh) scale(1.5);
}
.bg2 {
  background-image: url('/images/fondo-salmorejotech-svg(1).svg');
  background-size: cover;
  left: 80vw;
  transform: translateZ(-2px) scale(1.5);
}
.bg3 {
  background-image: url('/images/fondo-salmorejotech-svg(2).svg');
  background-size: cover;
  right: 80vw;
  transform: translateZ(-2px) scale(1.5);
}
.bg4 {
  background-image: url('/images/fondo-salmorejotech-svg(3).svg');
  background-size: cover;
  right: 60vw;
  transform: translateZ(-2px) translatey(200vh) scale(1.5);
}
.bg5 {
  background-image: url('/images/fondo-salmorejotech-svg(4).svg');
  background-size: cover;
  left: 80vw;
  transform: translateZ(-2px) translatey(250vh) scale(1.5);

}
.bg6 {
  background-image: url('/images/fondo-salmorejotech-svg(5).svg');
  background-size: cover;
  left: 80vw;
  transform: translateZ(-2px) translatey(50vh) scale(1.5);
}
.bg7 {
  background-image: url('/images/fondo-salmorejotech-svg(6).svg');
  background-size: cover;
  right: 1vw;
  transform: translateZ(-2px) translatey(10vh) scale(1.5);
}
.bg01 {
  background-image: url('/images/fondo-salmorejotech-svg.svg');
  filter: brightness(70%);
  background-size: cover;
  left: 100vw;
  transform: translateZ(-4px) translatey(0vh) scale(1.5);
}
.bg02 {
  background-image: url('/images/fondo-salmorejotech-svg(1).svg');
  filter: brightness(70%);
  background-size: cover;
  right: 1vw;
  transform: translateZ(-4px) translatey(300vh) scale(1.5);
}
.bg03 {
  background-image: url('/images/fondo-salmorejotech-svg(2).svg');
  filter: brightness(70%);
  background-size: cover;
  left: 90vw;
  transform: translateZ(-4px) translatey(250vh) scale(1.5);
}
.bg04 {
  background-image: url('/images/fondo-salmorejotech-svg(3).svg');
  filter: brightness(70%);
  background-size: cover;
  left: 90vw;
  transform: translateZ(-4px) translatey(150vh) scale(1.5);
}
.bg05 {
  background-image: url('/images/fondo-salmorejotech-svg(4).svg');
  filter: brightness(70%);
  background-size: cover;
  right: 70vw;
  transform: translateZ(-4px) translatey(50vh) scale(1.5);

}
.bg06 {
  background-image: url('/images/fondo-salmorejotech-svg(5).svg');
  filter: brightness(70%);
  background-size: cover;
  right: 70vw;
  transform: translateZ(-4px) translatey(10vh) scale(1.5);
}
.bg07 {
  background-image: url('/images/fondo-salmorejotech-svg(6).svg');
  filter: brightness(70%);
  background-size: cover;
  right: 110vw;
  transform: translateZ(-4px) translatey(100vh) scale(1.5);
}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.boton p{
  font-size: 2em;
  font-weight: bold;
}

button {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 1em;
  font-family: inherit;
  color: rgb(0, 0, 0);
  width: 15em;
  height: 7em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 3px;
  z-index: 1;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#ffbb00,#ffee00,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 5px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(-50deg, var(--orange), var(--red));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.glass{
  /* From https://css.glass */
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background: rgba(255, 241, 241, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 241, 241, 0.3);
}