/** Hero */

.hero {
  min-height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

  color: white;
}

.hero .logo {
  width: 80vw;
}

.hero .subtitle {
  font-size: calc(3*(0.5rem + 1vw) - 0.5rem);
}

.hero .date {
  font-size: calc(3*(0.5rem + 1vw) - 0.5rem);
  text-transform: uppercase;
}

.hero span,
.hero span::selection,
.hero .subtitle::selection,
.hero .date::selection {
  background: var(--purple);
  color: white;
}