.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
  flex-grow: 1;
  color: white;
}

.speakerCard{
  padding: 1rem;
  background: rgba(255, 181, 124, 0.281);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: var(--lightShadow);
}

.speakerImage{
  border-radius: 3px;
}