.background {
  background-color: white;
  margin: -1px;
  padding: 2rem;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  flex-grow: 1;
  max-width: 1500px;
}

.sponsor {
  width: 10rem;
  height: 10rem;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sponsor:hover {
  cursor: pointer;
  transform: scale(1.02);
}
